{% extends 'base.html' %}

{% load static %}

{% block title %}Accueil - Robotic Universe{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

    <!-- Section À propos -->
    <section class="about">
        <div class="about__container">
            <div class="about__image">
                <img src="{% static 'images/profile.jpg' %}" alt="Kouamé Chrys David Brou" class="profile-pic">
            </div>
            <div class="about__content">
                <h1>À propos de Moi</h1>
                <p>
                    Bonjour ! Je suis <strong>Kouamé Chrys David Brou</strong>, un étudiant en informatique spécialisé en génie logiciel. Passionné par les nouvelles technologies, la robotique, et le développement de logiciels, je travaille sans relâche pour transformer des idées novatrices en solutions concrètes. Actuellement en Licence 3 à l'Institut Ivoirien de Technologie (IIT), je mène des projets passionnants dans les domaines de la robotique, du développement mobile et web, ainsi que dans l'IA.
                </p>

                <h2>Mon Parcours</h2>
                <p>
                    Depuis le début de mes études, j'ai eu l'opportunité de travailler sur des projets variés, allant du développement d'applications mobiles avec Flutter à la conception de systèmes robotiques sécurisés. Mes compétences en programmation, notamment en C#, Python, et C++, m'ont permis de réaliser des logiciels de gestion, des outils de web scraping, ainsi que des systèmes intelligents utilisant l'IA et la vision par ordinateur.
                </p>

                <h2>Mon Projet Principal</h2>
                <p>
                    Mon projet phare actuel est le <strong>IIT Bus Tracer</strong>, une application de suivi de bus en temps réel pour mon école. Elle utilise Google Maps pour afficher la position des bus et des étudiants sur une carte interactive, facilitant ainsi l'accès à l'information pour les chauffeurs et les étudiants. Ce projet est le fruit de plusieurs mois de travail intensif, et il incarne ma passion pour la technologie et mon désir d'innover dans des solutions pratiques pour la communauté étudiante.
                </p>

                <h2>Vision et Ambitions</h2>
                <p>
                    Ma vision à long terme est de développer des solutions technologiques qui simplifient la vie des Ivoiriens et créent des opportunités. Que ce soit à travers des projets dans la robotique, l'intelligence artificielle, ou le développement de logiciels, je suis convaincu que la technologie peut être un puissant levier de transformation pour mon pays.
                </p>
            </div>
        </div>
    </section>

{% endblock %}