<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Robotic Universe{% endblock %}</title>

    {% load static %}

    <!-------------ICONSCOUT CDN------------->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!---------------------GOOGLE FONTS----------->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap" rel="stylesheet">

    <!----------CUSTOM STYLESHEET----------->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav__container">
            <a href="{% url 'home' %}" class="nav__logo">Robotic Universe</a>
            <ul class="nav__links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>

                <!-- Onglet Camera visible uniquement pour les utilisateurs connectés -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'camera' %}">Camera</a></li>
                {% endif %}
            </ul>

            <div class="zone-icone">
                <!-- Affichage du nom de l'utilisateur connecté -->
                {% if user.is_authenticated %}
                <a href="#">{{ user.username }}</a>
                <!-- Lien pour se déconnecter -->
                <a href="{% url 'logout' %}">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14 20H6C4.89543 20 4 19.1046 4 18L4 6C4 4.89543 4.89543 4 6 4H14M10 12H21M21 12L18 15M21 12L18 9"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                {% else %}
                <!-- Lien pour se connecter -->
                <a href="{% url 'login' %}">
                    <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z">
                        </path>
                    </svg>
                </a>
                {% endif %}

                <button class="nav__toggle-btn" id="nav__toggle-open">
                    <i class="uil uil-bars"></i>
                </button>
                <button class="nav__toggle-btn" id="nav__toggle-close">
                    <i class="uil uil-multiply"></i>
                </button>
            </div>
        </div>
    </nav>


    <!-- Contenu spécifique à chaque page -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2024 Mon Projet de Robotique. Tous droits réservés.</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>