{% extends 'base.html' %}

{% block title %}Accueil - Robotic Universe{% endblock %}

{% block content %}

<!-- Section camera -->
<section>
    <div class="container" style="height: 70px;"></div>
    <h1>Camera controller</h1>
    <button id="toggle-stream" style="color: red;">Stop Stream</button>
    <img id="stream" src="http://192.168.255.181:81/stream" crossorigin=""
        onerror="this.onerror=null; this.src='path_to_no_image_placeholder.jpg'; this.alt='No Image';">
    <div class="container" style="height: 90px;"></div>
</section>

<div class="container" style="height: 120px;"></div>
{% endblock %}